<div class="playback bar" ng-class="{show: playback.service.currentMedia}">
    <div class="ui two column centered grid">
        <div class="three column row">
            <div class="two wide column"><i class="external square icon" ng-click="videosCtrl.openCurrent()"></i></div>
            <div class="twelve wide column aligned center">{{ playback.service.currentMedia.name }}</div>
            <div class="two wide column right aligned" ng-switch="playback.currentIconState">
                <i class="play icon" ng-click="playback.play()" ng-switch-when="PLAY"></i>
                <i class="pause icon" ng-click="playback.pause()" ng-switch-when="PAUSE"></i>
            </div>
        </div>
    </div>
</div>