.ui.modal.video > .close.icon {
  top: 10px;
  right: 12px;
  color: #fff;
  position: absolute;
  z-index: 1;
  font-size: 24px;
}

.ui.modal.video,
.modals.dimmer .ui.scrolling.modal.video {
  position: absolute !important;
  border-radius: 0 !important;
  overflow: hidden;
  background: #151515;
}

.ui.modal.video {
  .bg {
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    .video.image {
      position: absolute;
      margin: auto;
      left: -50%;
      right: -50%;
      top: -50%;
      bottom: -50%;
      min-height: 100%;
      min-width: 100%;
    }

    .video.gradient {
      background: -moz-linear-gradient(top, hsla(0, 0%, 0%, 0.65) 0%, hsla(0, 0%, 0%, 0) 100%);
      background: -webkit-linear-gradient(top, hsla(0, 0%, 0%, 0.65) 0%, hsla(0, 0%, 0%, 0) 100%);
      background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.65) 0%, hsla(0, 0%, 0%, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 110px;
      width: 100%;
    }

    .video.description {
      position: absolute;
      top: 350px;
      bottom: 0;
      left: 0;
      right: 0;
      background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(bottom top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    }
  }
}

.ui.modal.video > .header {
  border-bottom: 0 !important;
  color: #fff !important;
  z-index: 0;
  position: relative;
  background: transparent;
  margin-right: 30px;
}

.ui.modal.video > .content {
  z-index: 0;
  position: relative;
  background: transparent;
}

.ui.modal.video > .content .iconState .icon {
  font-size: 5em;
  color: #fff;
  opacity: 0.7;
  margin: 100px;
  height: 1.8em;
  cursor: pointer;
}

.ui.modal.video > .content .iconState .icon:hover {
  opacity: 1;
}

.ui.modal.video > .content .description {
  color: #fff;
}

.ui.modal.video > .ui.menu {
  min-height: 0;
  margin: 0;
  border-bottom: 2px solid #5d5d5d;
  position: relative;
  border-radius: 0;
}

.ui.modal.video > .ui.menu > .item {
  color: #fff;
  font-weight: 700;
}

.ui.modal.video > .ui.menu > .item:hover {
  color: @primaryColor !important;
}

.ui.modal.video > .ui.menu > .item:hover:not(.active) {
  border-bottom-color: @primaryColor !important;
}

.ui.modal.video > .ui.menu > .active.item {
  border-bottom-color: @primaryColor !important;
  color: @primaryColor !important;
}

.ui.modal.video > .content > div {
  min-height: 326px;
}

.ui.modal .absoluting.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui.modal.video .item {
  cursor: pointer;
}

.ui.modal.video .ui.divided.list > .item.selected, .ui.modal.video .ui.divided.list > .item:hover, .ui.modal.video .list > .item:hover .header, .ui.modal.video .list > .item.selected .header{
  color: @primaryColor !important;
}

.ui.modal.video .ui.divided.list .item > small {
  margin-left: 5px;
  margin-right: -23px;
}

.ui.modal.message {
  padding: 0 !important;
  background: #151515;
  color: #fff;
}

.ui.modal.message.small {
  width: 300px;
  margin: 0 0 0 -150px;
}

.ui.modal.message > .content {
  background: #151515;
}

.ui.modal.message > .actions {
  background: #151515;
  text-align: center;
  padding: 0;
}

.ui.modal.message > .actions > .button {
  background: transparent;
  color: #fff;
}

.ui.modal.message > .actions > .button:hover {
  color: @primaryColor !important;
}

.ui.modal.video .ui.divided.list > .item:not(:first-child) {
  border-top: 1px solid rgba(34,36,38,1);
}

.ui.modal.video .ui.relaxed.list:not(.horizontal)>.item {
  padding-top: .32857143em;
  padding-bottom: .42857143em;
}