/* playbackbar */

.playback.bar {
  position: fixed;
  background: #151515;
  left: 0;
  right: 0;
  bottom: -60px;
  color: #fff;
  font-size: 16px;
  transition: bottom 0.5s ease;
}

.playback.bar.show {
  bottom: 0;
}

.playback.bar .row .column:first-child {
  padding-left: 30px;
}

.playback.bar .row .column:last-child {
  padding-right: 30px;
}

.playback.bar .row .column {
  padding: 20px;
  font-weight: 700;
}

.playback.bar .icon {
  cursor: pointer;
}