.rzslider {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  width: auto;
}

.rzslider .rz-bar {
  border-radius: 1px;
  background: rgba(93, 93, 93, 0.75);
}

.rzslider .rz-pointer {
  top: -6px;
  z-index: 3;
  width: 10px;
  height: 16px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 16px;
  display: none;
}

.rzslider .rz-pointer:after {
  display: none;
}

.rzslider .rz-bar.rz-selection {
  background: #4285f4;
  border-radius: 1px;
}

.rzslider:hover .rz-pointer {
  display: block;
}