<div class="ui long video modal">
    <div class="ui active dimmer" ng-show="videoCtrl.showLoader">
        <div class="ui indeterminate loader"></div>
    </div>
    <div class="bg">
        <img class="video image" ng-src="/api/media/{{ videoCtrl.video.id }}/screen/650/half/true"/>
        <div class="video gradient"></div>
        <div class="video description"></div>
    </div>
    <i class="close remove circle icon"></i>
    <div class="header">
        {{ videoCtrl.video.name }}
    </div>
    <div class="content">
        <div ng-if="videoCtrl.activeMenu.name == 'video'">
            <div class="ui two column centered grid">
                <div class="column center aligned iconState" ng-switch="videoCtrl.currentIconState">
                    <i class="play icon" ng-click="videoCtrl.load()" ng-switch-when="LOAD"></i>
                    <i class="play icon" ng-click="videoCtrl.play()" ng-switch-when="PLAY"></i>
                    <i class="pause circle icon" ng-click="videoCtrl.pause()" ng-switch-when="PAUSE"></i>
                </div>
                <rzslider ng-hide="videoCtrl.currentIconState == 'LOAD'" rz-slider-model="videoCtrl.language.discardInitialSeconds" rz-slider-options="videoCtrl.sliderOptions"></rzslider>
            </div>
        </div>
        <div ng-if="videoCtrl.activeMenu.name == 'language'">
            <div ng-init="videoCtrl.initLanguage();" class="ui very padded text container absoluting center aligned">
                <div class="ui inverted segment">
                    <div class="ui grid container">
                        <div class="eight wide column">
                            <b>Audio</b>
                            <div class="ui relaxed divided list">
                                <div class="item" ng-class="{selected: audio.selected}" ng-click="videoCtrl.selectLanguageAudio(audio)" ng-repeat="audio in videoCtrl.language.audio">
                                    {{ audio.language }}<small ng-if="audio.selected"><i class="checkmark icon"></i></small>
                                </div>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <b>Legenda</b>
                            <div class="ui relaxed divided list">
                                <div class="item" ng-class="{selected: subtitle.selected}" ng-click="videoCtrl.selectLanguageSubtitle(subtitle)" ng-repeat="subtitle in videoCtrl.language.subtitle">
                                    {{ subtitle.language }}<small ng-if="subtitle.selected"><i class="checkmark icon"></i></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="videoCtrl.activeMenu.name == 'device'">
            <div ng-init="videoCtrl.initDevice()" class="ui very padded text container absoluting center aligned">
                <div class="ui inverted segment">
                    <div class="ui inverted relaxed divided list">
                        <div class="item" ng-class="{selected: device.status.connected}"
                             ng-click="videoCtrl.loadOnDevice(device)" ng-repeat="device in videoCtrl.devices">
                            <div class="content">
                                <div class="header">{{ device.friendlyName }}
                                    <small ng-if="device.status.connected"><i class="checkmark icon"></i></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui secondary pointing menu three item">
        <a class="item" ng-init="videoCtrl.initMenu(menu)" ng-click="videoCtrl.setActiveMenu(menu)"
           ng-class="{active: menu.active}" ng-repeat="menu in videoCtrl.menu">{{ menu.label }}</a>
    </div>
</div>