<div class="asadmin-workspace">

    <h4 class="asadmin-workspace-header ui header">
        Videos
    </h4>

    <div class="ui active dimmer as fixed" ng-show="videosCtrl.showLoader">
        <div class="ui indeterminate loader"></div>
    </div>

    <div class="ui slick-box" ng-repeat="category in videosCtrl.categories">
        <h3 class="ui header">{{ category.name }}</h3>
        <div class="content blue">
            <div class="slider slick-slide one-time" id="{{ category.name }}" bc-flickity="{{ videosCtrl.flickityOptions }}">
                <div class="video" ng-repeat="video in category.videos" ng-mousedown="videosCtrl.enableSelectOrOpen()" ng-click="videosCtrl.select(category.name, $index); videosCtrl.open(category.name, video);">
                    <div class="image">
                        <h3 class="title">{{ video.name }}</h3>
                        <img width="160" height="225" fallback-element=".title" ng-src="{{ '/api/media/' + video.id + '/poster' }}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <playback-bar></playback-bar>
</div>