<div ui-modal class="ui modal">
    <div class="header">
        Título
    </div>
    <div class="content">
        <p></p>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancelar</div>
        <div class="ui ok button">OK</div>
    </div>
</div>